{% if allow_view_bi %}
  {% if token is not empty %}
  <div id="pbi-{{ field_name }}-{{ report_id }}"></div>
    {% if route != 'entity.node.edit_form' %}
      <script>
      (function ($) {
        var models = window["powerbi-client"].models;
        var report = powerbi.embed($("#pbi-{{ field_name }}-{{ report_id }}").get(0), {
          type: "report",
          id: "{{ report_id }}",
          tokenType: models.TokenType.Embed,
          embedUrl: "{{ embed_url }}",
          accessToken:"{{ token }}",
          {% if dataset_id %}
            datasetId:"{{ dataset_id }}",
          {% endif %}
        });
        ucsb_power_bi_customizeReportEmbed('pbi-{{ field_name }}-{{ report_id }}',{{ report_width }},{{ report_height }},'{{ report_title }}');
      })(jQuery);
      </script>
    {% else %}
      <div class="placeholder">
        <p>Placeholder for embedded Power BI Report with the following values:</p>
        <ul>
          {% if report_id %}
            <li>Report ID: {{ report_id }}</li>
          {% endif %}
          {% if workspace_id %}
            <li>Workspace ID: {{ workspace_id }}</li>
          {% endif %}
          {% if dataset_id %}
            <li>Dataset ID: {{ dataset_id }}</li>
          {% endif %}
          {% if role %}
            <li>Role: {{ role }}</li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  {% else %}
    <div class="power-access"><p>You do not have access to view this PowerBI Report ({{ report_id }}).</p></div>
  {% endif %}
{% else %}
  {% if logged_in %}
    <div class="power-access"><p>You do not have access to view this PowerBI Report ({{ report_id }}).</p></div>
  {% else %}
    <div class="power-access"><p>You must be <a href="/caslogin?returnto={{ url('<current>')|render }}">logged in</a> to view this report from Power BI.</p></div>
  {% endif %}
{% endif %}
