{# some copy and paste from node--community.html.twig in the begining #}

{% set background_color = node.field_background_color.color ? node.field_background_color.color : ''%}
{% set text_color = node.field_text_color.color %}
{% set style = 'color: #'~ text_color ~';' %} 

{# How to use PHP For statement within Twig: #}
{% if content.field_partner_label[0] %}
  {% set labelList = content.field_partner_label[0]['#title'] %}
  {% for key, item in content.field_partner_label if (key|first != '#' and key != 0) %}
    {% set labelList = labelList ~ ', ' ~ item['#title'] %}
  {% endfor %}
{% endif %}

{# Drupal has default classes that are for displaying the content type.  We get these with the following: #}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    white_text ? 'white-text',
    node.field_top_padding.value ? 'top-padding-' ~ node.field_top_padding.value,
    'partner-container'
    
  ]
%}
{# 
{% if view_mode =="default" or view_mode=="full" %}
    <div class="partner-card">
        <div class="partner-card-header" id="heading{{ node.id }}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ node.id }}" aria-expanded="false" aria-controls="collapse{{ node.id }}">
                    {{ node.field_name.value }}
                </button>
            </h2>
        </div>
        <div id="collapse{{ node.id }}" class="collapse" aria-labelledby="heading{{ node.id }}" data-parent="#partnerAccordion">
            <div class="partner-card-body">
                {{ node.field_description.value | raw }}
                <a href="{{ node.field_link.uri }}">{{ node.field_link.title }}</a>
            </div>
        </div>
    </div>
{% endif %} #}

{% if view_mode =="default" or view_mode=="full" %}
    <div class="partner-card">
        <div class="partner-card-header" id="heading{{ node.id }}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ node.id }}" aria-expanded="false" aria-controls="collapse{{ node.id }}">
                    {{ node.field_name.value }}
                </button>
                <a href="{{ node.field_link.uri }}" class="link-icon"><img src="{{ directory }}/path-to-my/link-icon.png" alt="Link Icon"></a>
                <span class="expand-icon" data-toggle="collapse" data-target="#collapse{{ node.id }}"><img src="{{ directory }}/path-to-my/expand-icon.png" alt="Expand Icon"></span>
            </h2>
        </div>
        <div id="collapse{{ node.id }}" class="collapse" aria-labelledby="heading{{ node.id }}" data-parent="#partnerAccordion">
            <div class="partner-card-body">
                {{ node.field_description.value | raw }}
                <a href="{{ node.field_link.uri }}">{{ node.field_link.title }}</a>
            </div>
        </div>
    </div>
{% endif %}
