{% set background_color = node.field_background_color.color ? node.field_background_color.color : ''%}
{% set text_color = node.field_text_color.color %}
{% set style = 'color: #'~ text_color ~';' %} 




{# for the tags #}
{% set labelList = '' %}
{% if content.field_learningresourcestags[0] %}
  {% set labelList = content.field_learningresourcestags[0]['#title'] %}
  {% for key, item in content.field_learningresourcestags %}
    {% if key|first != '#' and key != 0 %}
      {% set labelList = labelList ~ ', ' ~ item['#title'] %}
    {% endif %}
  {% endfor %}
{% endif %}

{# for the formats #}
{% set labelList1 = '' %}
{% if content.field_learningresourcestype[0] %}
  {% set labelList1 = content.field_learningresourcestype[0]['#title'] %}
  {% for key, item in content.field_learningresourcestype %}
    {% if key|first != '#' and key != 0 %}
      {% set labelList1 = labelList1 ~ ', ' ~ item['#title'] %}
    {% endif %}
  {% endfor %}
{% endif %}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    white_text ? 'white-text',
    node.field_top_padding.value ? 'top-padding-' ~ node.field_top_padding.value,
    'partner-container'
    
  ]
%}

{% if view_mode == "default" or view_mode == "full" %}
<div class="learning-resource-type-card"{{ attributes }}>
    <div class="learning-resource-row">

        <div class="learning-resource-content">
            
            <a href="{{ node.field_learningresourcestypelink.uri }}" target="_blank" rel="noopener noreferrer" class="learning-resource-title-link">               
                <div class="learning-resource-icon">
                    {{ content.field_resourcetypeicon }}
                </div>
                <h4 class="learning-resource-title">{{ node.field_learningresourcestypetitl.value }}</h4>
                <img src="{{ file_url('public://2024-04/linkGreen.jpg') }}" alt="Link Icon" class="link-icon"/>
            </a>

            <div class="learning-resource-description">
                {{ content.body }}
            </div>

            <div class="learning-resource-tags">
                <h6><b>tags: </b>
                  {% for key, item in content.field_learningresourcestags %}
                    {% if key|first != '#' %}
                      {# Render each tag as an anchor tag for JavaScript processing #}
                      <a class="learning-resource-tag">{{ item['#title'] }}</a>{% if not loop.last %}, {% endif %}
                    {% endif %}
                  {% endfor %}
                </h6>
            </div>
          

            <div class="learning-resource-tags">
                {% if node.field_learningresourcestype[0] %}
                    <h6>
                        <b>formats: </b>
                        {{labelList1}}
                    </h6>
                {% endif %}
            </div>

            <div class="learning-resource-date">
                <h6>
                    <b>Date: </b> {{ node.field_learningresourcestypedate.value}}
                </h6>
            </div>
            
        </div>

    </div>
</div>

{% endif %}
