{# some copy and paste from node--community.html.twig in the begining #}

{% set background_color = node.field_background_color.color ? node.field_background_color.color : ''%}
{% set text_color = node.field_text_color.color %}
{% set style = 'color: #'~ text_color ~';' %} 

{# Drupal has default classes that are for displaying the content type.  We get these with the following: #}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    white_text ? 'white-text',
    node.field_top_padding.value ? 'top-padding-' ~ node.field_top_padding.value,
    'resource' 
  ]
%}

{% if view_mode == "default" or view_mode == "full" %}
    <div{{ attributes.addClass('resource', classes) }}>
        <div class="resource-card">
            <a href="{{ content.field_url.0['#url'] }}" class="resource-card-link">
                <div class="resource-card-image">
                    {{ content.field_image.0 }}
                </div>
                <div class="resource-card-header">
                    <h3>{{ node.title.value }}</h3>
                </div>
            </a>
            <div class="resource-card-body">
                {{ content.field_resource_summary.0 }}
                <a href="{{ content.field_url.0['#url'] }}">{{ 'More Details' }}</a>
            </div>
        </div>
    </div>
{% endif %}
