{# some copy and paste from node--community.html.twig in the begining #}

{% set background_color = node.field_background_color.color ? node.field_background_color.color : ''%}
{% set text_color = node.field_text_color.color %}
{% set style = 'color: #'~ text_color ~';' %} 

{# How to use PHP For statement within Twig: #}
{% if content.field_partner_label[0] %}
  {% set labelList = content.field_partner_label[0]['#title'] %}
  {% for key, item in content.field_partner_label if (key|first != '#' and key != 0) %}
    {% set labelList = labelList ~ ', ' ~ item['#title'] %}
  {% endfor %}
{% endif %}

{# Drupal has default classes that are for displaying the content type.  We get these with the following: #}
{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    white_text ? 'white-text',
    node.field_top_padding.value ? 'top-padding-' ~ node.field_top_padding.value,
    'partner-container'
    
  ]
%}

{% if view_mode =="default" or view_mode=="full" %}
    <div class="partner-card">
        <div class="partner-card-header" id="heading{{ node.id }}">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ node.id }}" aria-expanded="false" aria-controls="collapse{{ node.id }}">
                    {{ node.field_name.value }}
                </button>
            </h2>
        </div>
        <div id="collapse{{ node.id }}" class="collapse" aria-labelledby="heading{{ node.id }}" data-parent="#partnerAccordion">
            <div class="partner-card-body">
                {{ node.field_description.value | raw }}
                <a href="{{ node.field_link.uri }}">{{ node.field_link.title }}</a>
            </div>
        </div>
    </div>
{% endif %}


{# {% if view_mode =="default" or view_mode=="full" %}
    <div class="accordion" id="partnerAccordion">
        {% for item in items %}
            <div class="partner">
                <div class="partner-card-header" id="heading{{ loop.index }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                            {{ item.content['#node'].field_name.value }}
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#partnerAccordion">
                    <div class="partner-card-body">
                        {{ item.content['#node'].field_description.value }}
                        {% if item.content['#node'].field_partner_label %}
                            <h6>
                                <b>Label: </b>
                                {{ item.content['#node'].field_partner_label.value }}
                            </h6>
                        {% endif %}
                        <a href="{{ item.content['#node'].field_link.uri }}">{{ item.content['#node'].field_link.title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %} #}


{# {% if view_mode == "default" or view_mode == "full" %}
    <div{{ attributes.addClass('partner-container', classes)}} >
        <h3>{{content.field_name.0}}</h3>
        <p>{{content.field_description.0}}</p>
        <p>{{content.field_link.0}}</p>
        <p>{{content.field_partner_label}}</p>
    </div>
{% endif %} #}


{# {% if view_mode =="default" or view_mode=="full" %}
    {% set i = 0 %}
    <div class="accordion" id="partnerAccordion">
        {% for item in items %}
            <div class="partner-card">
                <div class="partner-card-header" id="heading{{ i }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ i }}" aria-expanded="false" aria-controls="collapse{{ i }}">
                            {{ item.content['#node'].field_name.value }}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{ i }}" class="collapse" aria-labelledby="heading{{ i }}" data-parent="#partnerAccordion">
                    <div class="partner-card-body">
                        {{ item.content['#node'].field_description.value }}
                        <a href="{{ item.content['#node'].field_link.uri }}">{{ item.content['#node'].field_link.title }}</a>
                    </div>
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>
{% endif %} #}


{# {% if view_mode =="default" or view_mode=="full" %}
    {% set i = 0 %}
    <div class="accordion" id="partnerAccordion">
        {% for partner in partners %}
            <div class="partner-card">
                <div class="partner-card-header" id="heading{{ i }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ i }}" aria-expanded="false" aria-controls="collapse{{ i }}">
                            {{ partner.field_name.value }}
                        </button>
                    </h2>
                </div>
                <div id="collapse{{ i }}" class="collapse" aria-labelledby="heading{{ i }}" data-parent="#partnerAccordion">
                    <div class="partner-card-body">
                        {{ partner.field_description.value | raw }}
                        <a href="{{ partner.field_link.uri }}">{{ partner.field_link.title }}</a>
                    </div>
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>
{% endif %} #}


